//public method
@mixin absolute-center($width, $height: $width) {
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: $width * -0.5;
  margin-left: $height * -0.5;
}

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/*! Public style */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

body {
  background: $color-background;
  font-family: $font-default;
  font-size: $font-size;
  color: $color-font;
  line-height: $line-height;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

iframe {
  margin-top: 10px;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  padding-left: 0.3em;
}

sub {
  bottom: -0.25em;
}

a {
  text-decoration: none;
  color: $color-font;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    transition: color .25s, background .5s;
  }

  &:hover:before {
    transition: color .25s, background .5s;
  }
}

input:focus {
  outline: none;
}

input,
button {
  margin: 0;
  padding: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

h1 {
  font-size: 1.5em;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

.clearfix {
  @include clearfix();
}

::-webkit-input-placeholder {
  color: $color-white;
  padding: 2px 0 0 4px;
}

::-moz-placeholder {
  color: $color-white;
  padding: 2px 0 0 4px;
}

:-ms-input-placeholder {
  color: $color-white;
  padding: 2px 0 0 4px;
}

::-webkit-input-placeholder::before {
  font-family: $font-icon-family;
  @include font-smoothing();
  content: "\f002";
  padding-right: 4px;
}

::-moz-placeholder:before {
  font-family: $font-icon-family;
  @include font-smoothing();
  content: "\f002";
  padding-right: 4px;
}

:-ms-input-placeholder::before {
  font-family: $font-icon-family;
  @include font-smoothing();
  content: "\f002";
  padding-right: 4px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-search-cancel-button:after {
  font-family: $font-icon-family;
  @include font-smoothing();
  content: '\f00d';
  color: $color-white;
  padding-right: 4px;
}

/*! css3 animate */
.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeOut {
  animation-name: fadeOut;
}


@mixin box() {
  // background-color: var(--color-canvas-default);
  border-color: $color-border;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

@mixin box-header() {
  padding: 16px;
  margin: -1px -1px 0;
  background-color: $color-subtle;
  border-color: $color-border;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

@mixin box-row() {
  padding: 8px 14px;
  margin-top: -1px;
  list-style-type: none;
  border-top-color: $color-border-muted;
  border-top-style: solid;
  border-top-width: 1px;
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: middle;
  fill: currentColor;
}

.mr-3 {
  margin-right: 12px !important;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;

  color: $color-btn-text;
  background-color: $color-btn-bg;
  border-color: $color-btn-border;
  box-shadow: $color-btn-shadow, $color-btn-inset-shadow;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
  &:hover {
    background-color: $color-btn-hover-bg;
    border-color: $color-btn-hover-border;
  }
}