<article class="post-expand post" itemprop="articleBody">
  {{- partial "article_header.html" . -}}
  <div class="article-content">
    {{ .Content }}
  </div>
  <footer class="article-footer clearfix">
    <div class="article-catetags">
      <div class="article-categories">
        <span></span>
        {{- range (.GetTerms "categories") }}
          <a class="article-category-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
      </div>
      <div class="article-tags">
        <span></span>
        {{- range (.GetTerms "tags") }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
      </div>
    </div>
  </footer>
</article>