//button
.openaside {
  display: none;
  position: fixed;
  right: 7.5%;
  top: 260px;
  a {
    display: block;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 5px;
    background: $color-theme;
    padding: 0.2em 0.55em;
    &::before {
      font-family: $font-icon-family;
      @include font-smoothing();
      content: "\f0c9";
    }
  }
}

.closeaside {
  display: none;
  a {
    color: $color-theme;
    &:hover {
      color: $color-blue;
    }
    &::before {
      font-family: $font-icon-family;
      @include font-smoothing();
      content: "\f0c9";
    }
  }
  @media ($tablet) {
    display: block;
    position: absolute;
    right: 25px;
    top: 22px;
  }
}

//sidebar
#asidepart {
  margin: 1em 0 0;
  // padding: 0.5em 1em 1em;
  border-style: solid;
  @media ($tablet) {
    position: relative;
    float: left;
    width: 294px;
    margin: 2em 0 0 1em;
  }
  .count {
    float: right;
    // padding: 0.5em 0%;
    color: lighten($color-gray, 30%);
  }
}

aside {
  @include box();
  margin-bottom: 1em;
}

.asidetitle {
  @include box-header();
  // font-size: 1.1em;
  // color: $color-blue;
  // padding: 0 0 0.3125em 0;
  // border-bottom: 0.1875em solid $color-gray;
  // font-weight: 600;
  a {
    color: $color-blue;
    font-weight: 600;
    &:hover {
      color: $color-theme;
      transition: $color-blue 0.5s;
    }
  }
}

//categories
.categorieslist {
  width: 100%;
  @media ($mini) {
    // width: 45%;
    float: left;
    // margin: 0 5% 0 0;
  }
  @media ($tablet) {
    float: none;
    // margin: 1em 0 0;
  }
  li {
    // border-bottom: 1px solid $color-gray;
    @include box-row();
    .title {
      &:before {
        font-family: $font-icon-family;
        content: "\f07b";
        margin-right: 0.5em;
      }
    }
    a {
      // display: block;
      // padding: 0.5em 0%;
      font-weight: 500;
      &:hover {
        color: $color-fg-default;
        text-decoration: none;
      }
    }
  }
}

//tag
.tagslist {
  // margin: 1em 0 0;
  width: 100%;
  @media ($mini) {
    // width: 45%;
    float: left;
    // margin: 0 5% 0 0;
  }
  @media ($tablet) {
    float: none;
    // margin: 1em 0 0;
  }
  ul {
    padding: 0.5em 0;
  }
  ul li {
    float: left;
    a {
      display: block;
      margin: 0.3125em;
      padding: 0.125em 0.3125em;
      @include box();
      // background: lighten($color-gray, 50%);
      &:hover {
        color: $color-fg-default;
        // background: lighten($color-gray, 30%);
      }
      sup {
        color: $color-fg-muted;
      }
    }
  }
}

//rss
.rsspart {
  // background: $color-theme;
  width: 100%;
  @media ($mini) {
    float: left;
    // width: 45%;
    // margin: 0 5% 0 0;
  }
  @media ($tablet) {
    float: none;
    // margin: 1em 0 0;
  }
  a {
    display: block;
    padding: 0.625em 0;
    text-align: center;
    &::before {
      font-family: $font-icon-family;
      @include font-smoothing();
      padding-right: 0.5em;
      content: "\f09e";
    }
  }
}

//archive
.archiveslist {
  padding-right: 1em;
  @media ($tablet) {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
  li {
    font-size: 0.8em;
    line-height: 2em;
    a {
      padding: 0.5em;
      &:hover {
        color: $color-theme;
        transition: $color-theme 0.25s;
      }
    }
  }
  .archive-list-count {
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
}

.archive-list {
  padding: 0.5em 0;
}

.archive-float {
  ul {
    padding: 0;
  }
  li {
    float: left;
    margin: 0.3em;
    @media ($tablet) {
      float: none;
    }
  }
}

//tagcloud
.tagcloudlist {
  @media ($mini) {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
  @media ($tablet) {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
  .tagcloudlist {
    a {
      padding: 0.2em;
      display: block;
      float: left;
      &:hover {
        color: $color-theme;
        transition: $color-theme 0.25s;
      }
    }
  }
}

//links
.linkslist {
  margin-top: 0.5em;
  @media ($mini) {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
  @media ($tablet) {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
  ul {
    padding: 0.5em 0;
    a {
      font-size: 1em;
      line-height: $line-height;
      display: block;
      padding: 0 3%;
      &:hover {
        color: $color-theme;
        transition: $color-theme 0.25s;
      }
    }
  }
}

//weibo
.weiboshow {
  margin-top: 0.5em;
  @media ($mini) {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
  @media ($tablet) {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
  iframe {
    padding: 0.5em 0;
  }
}

//douban
.doubanshow {
  margin-top: 0.5em;
  @media ($mini) {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
  @media ($tablet) {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
  div {
    padding: 0.5em 0;
  }
}

//github-card
.github-card {
  margin-top: 1.5em;
  @media ($mini) {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
  @media ($tablet) {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
  div {
    padding: 0.5em 0;
  }
}

.blog-archives {
  ul {
    list-style: none !important;
    // margin: 0 -2em;
    padding-left: 0 !important;
  }

  li {
    list-style: none !important;
    padding: 0.2em 0em;
    display: list-item;
    // text-align: match-parent;
    // text-align: -webkit-center;
    // text-align: start;
    font-weight: 600;
  }

  time {
    float: right;
    color: $color-fg-muted;
  }
}
