<div id="asidepart">
  <aside class="clearfix">
    <p class="asidetitle">文章分类</p>
    <div class="categorieslist">
      <ul>
        {{- range $categorie_name, $categorie := .Site.Taxonomies.categories }}
        <li>
          <a href="/categories/{{ $categorie_name | urlize }}.html" title="{{ $categorie_name }}">
            <div>
              <span class="count">{{ $categorie.Count }}</span>
              <span class="title">{{ $categorie_name }}</span>
            </div>
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
  </aside>
  <aside class="clearfix">
    <p class="asidetitle">文章标签</p>
    <div class="tagslist">
      <ul class="clearfix">
        {{- range $tag_name, $tag := .Site.Taxonomies.tags }}
        {{- if gt $tag.Count 1 }}
        <li><a href="/tags/{{ $tag_name | urlize }}.html" title="{{ $tag_name }}">{{ $tag_name }}<sup>{{ $tag.Count }}</sup></a></li>
        {{- end }}
        {{- end }}
      </ul>
    </div>
  </aside>
  <div class="rsspart">
    <a href="/atom.xml" class="btn" target="_blank" title="rss">RSS 订阅</a>
  </div>
</div>